.homePage{
    background: url('../img/mane.jpg');
    /* background-size: 100% 100%; */
    height: 655px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/* .container-fluid {
    position: relative;
    z-index: 3;
    margin: 8px;
} */
/* 
.navbar{
    margin: 8px;

} */
.navbar .navbar-nav .nav-link{
    font-size: large;

}
.navbar .navbar-nav .nav-link:hover {
    color: #ff6600;
    font-size: large;
}
.logo img{
    height: 70px;
    width: 150px;

}
.AtEunexus{
    padding: 100px 0px 120px 0px;
}
.OurServices{
    padding: 100px 0px 120px 0px;
    background: #d9dbda;

}


/* Intelligence start */

.Intelligence{
    padding: 100px 0px 120px 0px;
    
}
.Intelligence img{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}
.sample button{
    background-color: #E26213 ;
    border: white;
    padding: 8px 35px 8px 35px;
    border-radius: 25px;
    margin-top: 10px;
}
.listedOp{
    font-weight: 700;
    color: #474B46;
}
.sample h2{
    letter-spacing: 4px;
    color: #474B46;
}

/* Intelligence ends */

/* footer */
.footerpart{
    padding: 80px 0px 80px 0px; 
    background: #1a1a1a;
    color: whitesmoke;

}
.subFoot{
    padding: 18px 0px 18px 0px;
    background: #0d0d0d;
    color: white;
}
.footerpart p{
    color: #bdbab5;
}
.footerpart h5{
    padding-bottom: 10px;
}
.imagelogo{
    height: 80px;
    width: 80%;
    padding-bottom: 10px;
}
.SocialMedia a{
    margin-top: 10px;
    border: 1px solid #bdbab5;
    color: #bdbab5;
    border-radius: 30px;
    padding: 12.5px;
    width: 40px;
    height: 40px;
}
.SocialMedia a:hover{
    color: white;
    text-decoration: none;
    border: 1px solid white;
}

/* footer ends */